<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Cadastro de Loja</title>
</head>
<body>
<section layout:fragment="header">
    <h1>Cadastro de Loja</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Cadastro de Loja</li>
    </ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Formulário</h3>
            <div class="box-tools pull-right">
                <a href="/stores" type="button" class="btn btn-box-tool"><i class="fa fa-list-ul"></i></a>
            </div>
        </div>
        <form data-toggle="validator" role="form" th:object="${store}" th:action="@{/stores/save}" method="post">
            <div class="box-body">
                <input type="hidden" th:field="*{id}"/>

                <div class="form-group">
                    <label for="name">Nome</label>
                    <input type="text" required="true" class="form-control" th:field="*{name}" id="name" />
                </div>
                
                <div class="form-group">
                    <label for="address">Endereço</label>
                    <input type="text" required="true" class="form-control" th:field="*{address}" id="address" />
                </div>
                
                <div class="form-group">
                    <label for="city">Cidade</label>
                    <input type="text" required="true" class="form-control" th:field="*{city}" id="city" />
                </div>
                
				<div class="form-group">
                    <label for="state">Estado</label>
                    <select class="form-control select2" required="true" th:field="*{state}" id="state">                    
						<option value="Acre">Acre</option>
						<option value="Alagoas">Alagoas</option>
						<option value="Amapá">Amapá</option>
						<option value="Amazonas">Amazonas</option>
						<option value="Bahia">Bahia</option>
						<option value="Ceará">Ceará</option>
						<option value="Distrito Federal">Distrito Federal</option>
						<option value="Espírito Santo">Espírito Santo</option>
						<option value="Goiás">Goiás</option>
						<option value="Maranhão">Maranhão</option>
						<option value="Mato Grosso">Mato Grosso</option>
						<option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
						<option value="Minas Gerais">Minas Gerais</option>
						<option value="Pará">Pará</option>
						<option value="Paraíba">Paraíba</option>
						<option value="Paraná">Paraná</option>
						<option value="Pernambuco">Pernambuco</option>
						<option value="Piauí">Piauí</option>
						<option value="Rio de Janeiro">Rio de Janeiro</option>
						<option value="Rio Grande do Norte">Rio Grande do Norte</option>
						<option value="Rio Grande do Sul">Rio Grande do Sul</option>
						<option value="Rondônia">Rondônia</option>
						<option value="Roraima">Roraima</option>
						<option value="Santa Catarina">Santa Catarina</option>
						<option value="São Paulo">São Paulo</option>
						<option value="Sergipe">Sergipe</option>
						<option value="Tocantins">Tocantins</option>
                	</select>
             	</div>
                
                <div class="form-group">
                    <label for="latitude">Latitude</label>
                    <input type="text" required="true" class="form-control" th:field="*{latitude}" id="latitude" />
                </div>
                
                <div class="form-group">
                    <label for="longitude">Longitude</label>
                    <input type="text" required="true" class="form-control" th:field="*{longitude}" id="longitude" />
                </div>
                <div class="form-group">
                    <label for="radius">Raio</label>
                    <input type="text" required="true" class="form-control" th:field="*{radius}" id="radius" />
                </div>
                
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>