<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Cadastro de Usuário</title>
</head>
<body>
<section layout:fragment="header">
    <h1>Permissões de Usuários</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Permissões de Usuários</li>
    </ol>
</section>
<div layout:fragment="content">

	<div class="row">

	<div class="col-md-3">
	<div class="box box-primary">
            <div class="box-body box-profile">
              <a th:href="${'/users/'+user.id+'/select/image'}">
              	<img class="profile-user-img img-responsive img-circle" th:src="${'/upload/image/users/'+user.id}" alt="User profile picture"></img>
              </a>
			
			<h3 class="profile-username text-center"><spam th:text="${user.username}"></spam></h3>

              <p class="text-muted text-center">Software Engineer</p>

            </div>
            <!-- /.box-body -->
          </div>
	</div>
	
	<div class="col-md-9">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Formulário</h3>
            <div class="box-tools pull-right">
                <a href="/accesscontrol/users" type="button" class="btn btn-box-tool"><i class="fa fa-list-ul"></i></a>
            </div>
        </div>
        <form data-toggle="validator" role="form" th:object="${user}" th:action="@{/accesscontrol/users/saveedited}" method="post">
            <div class="box-body">
                <input type="hidden" th:field="*{id}"/>

                <div class="form-group">
                    <label for="Username">Username</label>
                    <input type="text" required="true" class="form-control" th:field="*{username}" id="username" readonly="readonly"/>
                </div>
                <div class="form-group">
                	<label for="Username">E-mail</label>
                	<input type="text" required="true" class="form-control" th:field="*{email}" id="email" readonly="readonly"/>
                </div>
                <div class="form-group">
                    <label for="Ativo">Ativo</label>
                    <select class="form-control"
							required="true" th:field="*{enabled}" id="enabled">
							<option value="true">true</option>
							<option value="false">false</option>
					</select>                    
                </div>                
                <div class="form-group">
                    <label for="nome">Novo Acesso</label>                    
                    <select class="form-control" name="nome" id="nome" required="true">
							<option value="ADMIN">ADMIN</option>
							<option value="USER">USER</option>
					</select>
                </div>
                
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
	</div>
	</div>

</div>
</body>
</html>