<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
	<div th:if="${acesso == 'ADMIN'}"> 
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
        <li class="active treeview">
            <a href="#">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            </a>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-plus-circle"></i>
                <span>Cadastros</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
			<ul class="treeview-menu">
				<li><a href="/users"><i class="fa fa-circle-o"></i>Usuários</a></li>
			</ul>
			
		</li>
		
        <li class="treeview">
            <a href="#">
                <i class="fa fa-key"></i>
                <span>Controle de Acesso</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
            	<li><a href="/accesscontrol"><i class="fa fa-circle-o"></i>Permissões</a></li>
            	<li><a href="/accesscontrol/users"><i class="fa fa-circle-o"></i>Usuários</a></li>
            </ul>
        </li>
        
    </ul>
    </div>
</section>
<!-- /.sidebar -->