<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Cadastro de Usuário</title>
</head>
<body>
<section layout:fragment="header">
    <h1>Upload de foto do usuário</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Cadastro de Foto do Usuário</li>
    </ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Formulário</h3>
            <div class="box-tools pull-right">
                <a th:href="${'/users/edit/profile/'+user.id}" type="button" class="btn btn-box-tool"><i class="fa fa-list-ul"></i></a>
            </div>
        </div>
        <form data-toggle="validator" role="form" th:object="${user}" th:action="${'/upload/selected/image/users/'+user.id}" method="post" enctype="multipart/form-data">
            <div class="box-body">
                <input type="hidden" th:field="*{id}"/>

                <div class="form-group">
                    <label for="Username">Username</label>
                    <input type="text" required="true" class="form-control" th:field="*{username}" id="username" readonly="readonly"/>
                </div>
                <!--  
                <div class="form-group">
                    <label for="Username">Nome</label>
                    <input type="text" required="true" class="form-control" th:field="*{name}" id="name" readonly="readonly"/>
                </div>
                 -->
				<div class="form-group">
                	<label for="imagem">Foto</label>
                	<input type="file" id="photouser" name="photouser" required="required"></input>
                </div>								
				</div>    
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>