<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Usuários</title>
</head>
<body>
<section layout:fragment="header">
<h1>Usuários dispoíveis</h1>
<ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Usuarios disponíveis</li>
</ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Listagem</h3>
        </div>
        
        <div class="box-body no-padding">
            <table class="table table-striped">
                <tr>
                    <th>User name</th>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Ativo</th>
                    <th>Imagem</th>
                    <th>Ações</th>
                </tr>
                <tr th:each="row : ${list}">              
                	<div th:if="${row.id != loginuserid}">
                		<input id="id" name="id" th:value="${row.id}" type="hidden" />											
						<td th:text="${row.username}"></td>
						<td th:text="${row.completename}"></td>
						<td th:text="${row.email}"></td>
						<td th:text="${row.enabled}"></td>
						<td><img alt="Image" th:src="${'/upload/image/users/'+row.id}" width="50" height="50" /></td>
						<td><a th:href="${'/users/'+loginuserid+'/add/friend/' + row.id}">Adicionar como Amigo</a></td>
					</div>
				</tr>
            </table>
        </div>

    </div>
</div>
</body>
</html>